In [ ]:
import sqlite3

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

conexao.commit()
conexao.close

## Exercício Banco de Dados

### 1. Crie uma tabela chamada "alunos" com os seguintes campos: id(inteiro), nome(texto), idade(inteiro) e curso(texto).

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('CREATE TABLE alunos(id INT, nome VARCHAR(100), idade INT, curso VARCHAR(100));')

conexao.commit()
conexao.close

### 2. Insira pelo menos 5 registros de alunos na tabela que você criou no exercício anterior.

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('INSERT INTO alunos(id, nome, idade, curso) VALUES(1, "Ana Paula", 34, "Analise de Dados")')
cursor.execute('INSERT INTO alunos(id, nome, idade, curso) VALUES(2, "Camila", 29, "Analise de Dados")')
cursor.execute('INSERT INTO alunos(id, nome, idade, curso) VALUES(3, "Silvia", 38, "Ciencias de Dados")')
cursor.execute('INSERT INTO alunos(id, nome, idade, curso) VALUES(4, "Bruna", 20, "Estatística")')
cursor.execute('INSERT INTO alunos(id, nome, idade, curso) VALUES(5, "Jaqueline", 35, "Matemática")')

conexao.commit()
conexao.close

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('INSERT INTO alunos(id, nome, idade, curso) VALUES(6, "Carla", 34, "Engenharia")')
cursor.execute('INSERT INTO alunos(id, nome, idade, curso) VALUES(7, "Amanda", 29, "Engenharia")')
cursor.execute('INSERT INTO alunos(id, nome, idade, curso) VALUES(8, "Roberta", 38, "Engenharia")')

conexao.commit()
conexao.close

### 3. Consultas Básicas

Escreva consultas SQL para realizar as seguintes tarefas:

a) Selecionar todos os registros da tabela "alunos".

b) Selecionar o nome e a idade dos alunos com mais de 20 anos.

c) Selecionar os alunos do curso de "Engenharia" em ordem alfabética.

d) Contar o número total de alunos na tabela

In [ ]:
# a) Selecionar todos os registros da tabela "alunos".

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT * FROM alunos')

for alunos in dados:
    print(alunos)

conexao.commit()
conexao.close

In [ ]:
# b) Selecionar o nome e a idade dos alunos com mais de 20 anos.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT * FROM alunos WHERE idade > 20')

for alunos in dados:
    print(alunos)

conexao.commit()
conexao.close

In [ ]:
# c) Selecionar os alunos do curso de "Engenharia" em ordem alfabética.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT * FROM alunos WHERE curso = "Engenharia" ORDER BY nome')

for alunos in dados:
    print(alunos)

conexao.commit()
conexao.close

In [ ]:
# d) Contar o número total de alunos na tabela

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('SELECT COUNT(*) FROM alunos')

dados = cursor.fetchone()[0]
print(dados)

conexao.commit()
conexao.close

### 4. Atualização e Remoção

a) Atualize a idade de um aluno específico na tabela.

b) Remova um aluno pelo seu ID.

In [ ]:
# a) Atualize a idade de um aluno específico na tabela.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('UPDATE alunos SET idade = 36 WHERE id = 5')

conexao.commit()
conexao.close

In [ ]:
# b) Remova um aluno pelo seu ID.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('DELETE FROM alunos WHERE id=7')

conexao.commit()
conexao.close

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT * FROM alunoS')

for alunos in dados:
    print(alunos)

conexao.commit()
conexao.close

### 5. Criar uma Tabela e Inserir Dados

Crie uma tabela chamada "clientes" com os campos: id (chave primária), nome (texto), idade (inteiro) e saldo (float). Insira alguns registros de clientes na tabela.

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('CREATE TABLE clientes(id INT, nome VARCHAR(100), idade INT, saldo FLOAT);')

conexao.commit()
conexao.close

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('INSERT INTO clientes(id, nome, idade, saldo) VALUES(1, "Debora", 34, 234.87)')
cursor.execute('INSERT INTO clientes(id, nome, idade, saldo) VALUES(2, "Melody", 29, 543.86)')
cursor.execute('INSERT INTO clientes(id, nome, idade, saldo) VALUES(3, "Sandy", 38, 376.54)')
cursor.execute('INSERT INTO clientes(id, nome, idade, saldo) VALUES(4, "Louise", 48, 4376.54)')

conexao.commit()
conexao.close

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT * FROM clientes')

for cliente in dados:
    print(cliente)

conexao.commit()
conexao.close

### 6. Consultas e Funções Agregadas

Escreva consultas SQL para realizar as seguintes tarefas:

a) Selecione o nome e a idade dos clientes com idade superior a 30 anos.

b) Calcule o saldo médio dos clientes.

c) Encontre o cliente com o saldo máximo.

d) Conte quantos clientes têm saldo acima de 1000.

In [ ]:
# a) Selecione o nome e a idade dos clientes com idade superior a 30 anos.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT nome, idade FROM clientes WHERE idade > 30')

for cliente in dados:
    print(cliente)

conexao.commit()
conexao.close

In [ ]:
# b) Calcule o saldo médio dos clientes.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT AVG(saldo) FROM clientes')

for cliente in dados:
    print(cliente)

conexao.commit()
conexao.close

In [ ]:
# c) Encontre o cliente com o saldo máximo.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT * FROM clientes ORDER BY saldo DESC LIMIT 1')

for cliente in dados:
    print(cliente)

conexao.commit()
conexao.close

In [ ]:
# d) Conte quantos clientes têm saldo acima de 1000.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT COUNT(*) FROM clientes WHERE saldo > 1000')

for cliente in dados:
    print(cliente)

conexao.commit()
conexao.close

### 7. Atualização e Remoção com Condições

a) Atualize o saldo de um cliente específico.

b) Remova um cliente pelo seu ID.

In [ ]:
# a) Atualize o saldo de um cliente específico.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('UPDATE clientes SET saldo = 1002 WHERE id = 3')

conexao.commit()
conexao.close

In [ ]:
# b) Remova um cliente pelo seu ID.

conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('DELETE FROM clientes WHERE id = 1')

conexao.commit()
conexao.close

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT * FROM clientes')

for cliente in dados:
    print(cliente)

conexao.commit()
conexao.close

### 8. Junção de Tabelas

Crie uma segunda tabela chamada "compras" com os campos: id (chave primária), cliente_id (chave estrangeira referenciando o id da tabela "clientes"), produto (texto) e valor (real). Insira algumas compras associadas a clientes existentes na tabela "clientes". Escreva uma consulta para exibir o nome do cliente, o produto e o valor de cada compra.

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('CREATE TABLE compras(id INT, cliente_id INT, produto VARCHAR(100), valor REAL);')

conexao.commit()
conexao.close

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(1, 2, "Azeite", 14.00)')
cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(2, 2, "Açucar", 10.00)')
cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(3, 3, "Iogurte", 2.00)')
cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(4, 4, "Amendoas", 20.00)')
cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(5, 3, "Maça", 15.00)')
cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(6, 3, "Abacaxi", 6.00)')
cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(7, 2, "Feijão", 12.00)')
cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(8, 4, "Leite", 8.00)')
cursor.execute('INSERT INTO compras(id, cliente_id, produto, valor) VALUES(9, 4, "Queijo", 25.00)')

conexao.commit()
conexao.close

In [ ]:
conexao = sqlite3.connect('exercicioSQL.db')
cursor = conexao.cursor()

dados = cursor.execute('SELECT clientes.nome, compras.produto, compras.valor FROM clientes INNER JOIN compras ON clientes.id = compras.cliente_id')

for cliente in dados:
    print(cliente)

conexao.commit()
conexao.close